<table class="table">
        <tbody>
            <tr>
                <td>Диагональ</td>
                <td>{{ product.diagonal }}</td>
            </tr>
            <tr>
                <td>Разрешение экрана</td>
                <td>{{ product.screen_resolution }}</td>
            </tr>
            <tr>
                <td>Видеоадаптер</td>
                <td>{{ product.videoadapter }}</td>
            </tr>
            <tr>
                <td>Операционная система</td>
                <td>{{ product.system }}</td>
            </tr>
            <tr>
                <td>Модель процессора</td>
                <td>{{ product.cpu }}</td>
            </tr>
            <tr>
                <td>Чистота процессора</td>
                <td>{{ product.frequency_cpu }}</td>
            </tr>
            <tr>
                <td>Обьем оперативной памяти</td>
                <td>{{ product.ozu }}</td>
            </tr>
            <td>Тип жесткого диска</td>
            <tr>
                <td>{{ product.disk_type }}</td>
            </tr>
            <td>Обьем накопителя</td>
            <tr>
                <td>{{ product.drive_volume }}</td>
            </tr>
            <td>Чипсет видеоадаптера</td>
            <tr>
                <td>{{ product.video_adapter_chipset }}</td>
            </tr>
            <td>Обьем видеоадаптера</td>
            <tr>
                <td>{{ product.video_memory }}</td>
            </tr>
            <td>Особености</td>
            <tr>
                <td>{{ product.features }}</td>
            </tr>
        </tbody>
</table>